[data-current-section="home"] main {
  background-image: conic-gradient(from 45deg, #ffae99 0 50%, #a0302d 0 100%);
}

div.Rotarigus,
div.Rotaleftus {
  --bx: -144px;
  --by: -480px;
}

div.Rotaleftus {
  transform: scaleX(-1);
}

div.Hydravo {
  --bx: 0;
  --by: -96px;
}

div.Ejectum {
  --bx: -48px;
  --by: -384px;
}

.r #actionsMenu > div:after,
.h #actionsMenu > div:after {
  display: none;
}

.r #actionsMenu > div.s:not(.casting),
.h #actionsMenu > div.s:not(.casting) {
  opacity: 0.3;
  pointer-events: none;
}

.r #walls .cat,
.h #gameTable ~ canvas:not(.c6) {
  pointer-events: none;
}

.h #walls .c6,
.h #walls .cat {
  cursor: pointer;
}

.r #gameTable ~ canvas:hover {
  opacity: 0.3;
  cursor: pointer;
}
