/* ================= */
/* ================= */
/* Global */
/* ================= */
/* ================= */

body {
  --main-background: #feebc9;
  --game-background: #f0e4d7;
  --border: #331c1a;
  --shadow: rgba(255, 255, 255, 0.3);
  --radius: 3px;

  font-family: monospace;
  background-color: var(--main-background);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 8px;
  min-width: 768px;
  min-height: 700px;
}

main {
  width: 768px;
  height: 700px;
  box-sizing: border-box;
  border: 4px solid var(--border);
  background-color: var(--game-background);
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  border-radius: var(--radius);
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

main > section {
  width: 100%;
  position: relative;
  display: none;
  flex-direction: column;
  overflow: hidden;
}

.sectionTitle {
  font-size: 1.5rem;
  margin: 12px;
  text-align: center;
}

.subTitle {
  font-weight: bolder;
  margin: 8px;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0;
}

body:not([data-current-section]) #gameOptions,
[data-current-section="title"] #gameOptions {
  display: none;
}

#gameOptions {
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameOptions label {
  cursor: pointer;
}

#gameOptions input {
  cursor: pointer;
  margin: 0;
  position: relative;
  top: 2px;
}

/* ================= */
/* ================= */
/* Title */
/* ================= */
/* ================= */
#title h1,
#title h2 {
  color: transparent;
  user-select: none;
  width: 399px;
  height: 252px;
  overflow: hidden;
  background-image: url("./images/logo.png");
  background-size: contain;
  margin: auto;
}

#title h2 {
  width: 360px;
  height: 75px;
  background-image: url("./images/logo-oracle.png");
  background-size: 360px 150px;
  background-repeat: no-repeat;
  margin-top: 4px;
  transform: translateX(200%);
  animation: slideRight 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 1s;
}

@keyframes slideRight {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

#title .logos {
  margin-top: 90px;
}

#title .p {
  font-size: 2rem;
  text-align: center;
  margin-top: 96px;
}

#title a,
#title a:hover {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: #f2f2f2;
  border: 3px solid var(--border);
  border-radius: var(--radius);
  transition: transform 0.2s ease;
  box-shadow: inset 3px 3px 0 #c2c2c2;
}

a:hover {
  transform: scale(1.05);
}

body.order #title h2 {
  background-position: bottom;
}

[data-current-section="title"] main {
  background-image: radial-gradient(
    circle at 50% 3%,
    #205d61 0 15%,
    #2a6b6f 15% 22%,
    #34797d 22% 30%,
    #3e878b 30% 38%,
    #489599 38% 45%,
    #52a3a7 45% 52%,
    #5cb1b5 52% 59%,
    #66bfc3 59% 66%,
    #70cdd1 66% 73%,
    #7adbdf 73% 80%,
    #84e9ed 80% 87%,
    #8ef7fb 87% 100%
  );
  background-color: #8ef7fb;
}

body.order[data-current-section="title"] main {
  background-image: radial-gradient(
    circle at 50% 3%,
    #a0302d 0 15%,
    #b8453f 15% 22%,
    #d05a51 22% 30%,
    #e86f63 30% 38%,
    #ff8475 38% 45%,
    #ff9987 45% 52%,
    #ffae99 52% 59%,
    #ffc3ab 59% 66%,
    #ffd8bd 66% 73%,
    #ffedcf 73% 80%,
    #fff2e1 80% 87%,
    #fff7f3 87% 100%
  );
  background-color: #fff7f3;
}

/* ================= */
/* ================= */
/* Game */
/* ================= */
/* ================= */

/*
border color #FEEBC9
background #331C1A
text #613531
*/
