/* ================= */
/* ================= */
/* Global */
/* ================= */
/* ================= */

body {
  --main-background: #feebc9;
  --game-background: #f0e4d7;
  --border: #331c1a;
  --shadow: rgba(255, 255, 255, 0.3);
  --radius: 3px;

  --sw: 64px;
  --sh: 224px;

  font-family: monospace;
  background-color: var(--main-background);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 8px;
  min-width: 768px;
  min-height: 700px;
}

main {
  width: 768px;
  height: 700px;
  box-sizing: border-box;
  border: 4px solid var(--border);
  background-color: var(--game-background);
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  border-radius: var(--radius);
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

main > section {
  width: 100%;
  position: relative;
  display: none;
  flex-direction: column;
  overflow: hidden;
}

.sectionTitle {
  font-size: 1.5rem;
  margin: 12px;
  text-align: center;
}

.subTitle {
  font-weight: bolder;
  margin: 8px;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0;
}

body:not([data-current-section]) #gameOptions,
[data-current-section="home"] #gameOptions {
  display: none;
}

#gameOptions {
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameOptions label {
  cursor: pointer;
}

#gameOptions input {
  cursor: pointer;
  margin: 0;
  position: relative;
  top: 2px;
}

/* ================= */
/* ================= */
/* Home */
/* ================= */
/* ================= */
#home h1,
#home h2 {
  color: transparent;
  user-select: none;
  width: 335px;
  height: 210px;
  overflow: hidden;
  background-image: url("./images/logo.png");
  background-size: contain;
  margin: auto;
}

#home h2 {
  width: 360px;
  height: 75px;
  background-image: url("./images/logo-order.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 4px;
  transform: translateX(200%);
  animation: slideRight 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 0.5s;
}

@keyframes slideRight {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

#home .logos {
  margin-top: 90px;
}

#home .p {
  font-size: 2rem;
  text-align: center;
  margin-top: 96px;
}

#home a,
#home a:hover {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: #f2f2f2;
  border: 3px solid var(--border);
  border-radius: var(--radius);
  transition: transform 0.2s ease;
  box-shadow: inset 3px 3px 0 #c2c2c2;
}

a:hover {
  transform: scale(1.05);
}

.skip,
.skip:visited {
  font-weight: bold;
  text-decoration: none;
  color: #feebc9;
  font-size: 1rem;
  position: absolute;
  top: 8px;
  right: 8px;
}

.skip:hover {
  text-decoration: underline;
}

/* ================= */
/* ================= */
/* Scenario */
/* ================= */
/* ================= */

.scenario {
  border: 16px solid #000;
}

.scenarioScene {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 64px;
  justify-content: space-around;
  background-color: #3a2520;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
  background-size: 190px 192px;
}

.scenarioDialog {
  background: #000;
  color: #feebc9;
  width: 100%;
  flex: 1;
  margin-top: auto;
  border: 8px solid #feebc9;
  box-sizing: border-box;
  font-size: 2.3rem;
  padding: 64px;
  cursor: pointer;
  position: relative;
}

.scenarioDialog::after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  bottom: 24px;
  border: 24px solid transparent;
  border-left-color: #feebc9;
  pointer-events: none;
  animation: blinkArrow 1s steps(1) infinite;
}

.scenarioDialog.end::after {
  border-color: #feebc9;
  right: 40px;
}

@keyframes blinkArrow {
  0%,
  60% {
    opacity: 1;
  }
  61%,
  100% {
    opacity: 0;
  }
}

.c {
  animation: spriteAnimation 1s steps(2) infinite;
}

@keyframes spriteAnimation {
  from {
    background-position: var(--x) var(--y);
  }

  to {
    background-position: var(--target-x) var(--target-y);
  }
}

.scenarioMaster,
.scenarioMelusine,
.scenarioCat {
  width: 128px;
  height: 128px;
  background-size: calc(var(--sw) * 8) calc(var(--sh) * 8);
}

.scenarioMaster,
.scenarioMelusine,
.scenarioCat,
#gameTable > div.solid,
div.s {
  background-image: url("./images/sprites.png");
}

.scenarioMaster.left,
.scenarioMelusine.left,
.scenarioCat.left {
  transform: scaleX(-1);
}

.scenarioMelusine {
  --x: -0;
  --y: -1280px;
  --target-x: -256px;
  --target-y: -1280px;
}

#gameStats .scenarioMelusine {
  transform: scale(0.75);
  position: absolute;
  bottom: 0;
}

.scenarioMaster {
  --x: -0;
  --y: -1536px;
  --target-x: -256px;
  --target-y: -1536px;
}

.scenarioCat {
  --x: -256px;
  --y: -1408px;
  --target-x: -512px;
  --target-y: -1408px;
}

.scenarioCat.walk {
  --x: -256px;
  --y: -1536px;
  --target-x: -512px;
  --target-y: -1536px;
}

.c.speaking {
  --target-x: var(--x);
  --target-y: calc(var(--y) - 256px);
}

.c.stop {
  --target-x: var(--x);
  --target-y: var(--y);
}

.scenarioMelusine {
  --x: 0;
  --y: -1280px;
}

.scenarioCat {
  --x: -256px;
  --y: -1408px;
}

/* ================= */
/* ================= */
/* Game */
/* ================= */
/* ================= */

#mainGame,
.scenario {
  background: #331c1a;
}

#mainGame .scenarioDialog {
  font-size: 1rem;
  padding: 0 24px;
  cursor: default;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

#help {
  width: 50%;
  border-right: 8px solid #feebc9;
  padding-right: 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.noshop #help {
  width: 100%;
  border-right: none;
}

#mainGame .scenarioDialog.noshop:not(.nocursor)::after {
  display: block;
  right: 8px;
  bottom: 12px;
  border-width: 12px;
}

.noshop #help + #shop {
  display: none;
}

#shop {
  flex: 1;
  padding-left: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  align-self: stretch;
}

#shop canvas {
  cursor: pointer;
  padding: 2px;
  border: 1px dashed transparent;
}

#shop canvas:hover {
  border-color: #feebc9;
}

#shop span {
  position: absolute;
  left: 2px;
  top: 0px;
  background: #000;
}

#mainGame .scenarioDialog::after {
  display: none;
}

#walls {
  margin: 0 auto 0 auto;
  padding: 48px;
  position: relative;
}

#gameTable {
  position: relative;
  border-collapse: collapse;
  background: #331c1a;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(10, 48px);
  grid-template-rows: repeat(10, 48px);
  column-gap: 0;
  row-gap: 0;
}

.r #gameTable ~ canvas:hover {
  opacity: 0.3;
  cursor: pointer;
}

#levelDisplay {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 10;
  right: 0;
  text-align: center;
  font-size: 1rem;
}

#levelDisplay b {
  background-color: #613531;
  color: #feebc9;
}

#walls > canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#wallsCanvas {
  z-index: 0 !important;
}

#walls.dragging > canvas {
  pointer-events: none;
}

#gameTable > div {
  border: 1px solid rgba(254, 235, 201, 0.2);
  position: relative;
  overflow: hidden;
}

#gameTable > div.solid,
div.s {
  background-color: #331c1a;
  border-color: #331c1a;
  background-size: calc(var(--sw) * 3) calc(var(--sh) * 3);
  background-position: var(--bx, 0) var(--by, -240px);
}

div.solid.v1 {
  --bx: -48px;
  --by: -240px;
}

div.solid.v2 {
  --bx: 0;
  --by: -288px;
}

div.solid.v3 {
  --bx: -48px;
  --by: -288px;
}

div.Rotarigus,
div.Rotaleftus {
  --bx: -144px;
  --by: -480px;
}
div.Rotaleftus {
  transform: scaleX(-1);
}

div.Hydravo {
  --bx: 0;
  --by: -96px;
}

div.Ejectum {
  --bx: -48px;
  --by: -432px;
}

#actionsMenu,
#gameStats {
  position: absolute;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  top: 16px;
  color: #feebc9;
  font-size: 1.2rem;
  font-weight: bold;
}

#gameStats {
  right: auto;
  left: 16px;
  justify-content: flex-start;
  height: 560px;
  min-width: 63px;
}

dl {
  font-size: 0.9rem;
}

dt {
  font-weight: bold;
}

dd {
  font-weight: normal;
  margin-left: 16px;
  margin-bottom: 24px;
}

div.s {
  width: 48px;
  height: 48px;
  border: 1px dashed #feebc9;
  cursor: pointer;
}

#walls div.s {
  position: fixed;
  left: 0;
  top: 0;
  border-style: solid;
  pointer-events: none;
  z-index: 100;
}

#actionsMenu > div:hover {
  border-style: solid;
}

#actionsMenu > div:after {
  content: var(--c);
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  right: -16px;
  text-align: center;
  line-height: 16px;
  padding: 1px;
}

div.Rotaleftus:after {
  transform: scaleX(-1);
  right: 52px !important;
}
